# Ignore Inno Setup scripts
*.iss linguist-vendored

# Ignore the External dependencies (SFML) no matter where they are
**/External/** linguist-vendored
**/Dependencies/** linguist-vendored

# Force any .h files to be counted as C++ (just in case)
*.h linguist-language=C++
